.description {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  div h2 {
    margin-top: 0;
  }

  .grid-country {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-description {
    display: grid;
    column-gap: 2rem;
    /* grid-template-columns: repeat(2, 1fr); */
  }

  .imagen {
    max-width: 25rem;
  }
}

@media (min-width: 1024px) {
  .grid-description {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .imagen {
    max-width: 30rem;
  }
}
